<main>
 <div class="cotainer mt-2">
  <div class="row">
   <div class="mx-auto">
    
    <h2></h2>
    
    <p>名古屋のお得<storng>スイーツ</storng><i class="fas fa-coffee"></i>情報!!<p>

     <p>見られるのはここだけ</p>
     
     <p>新規登録またはログインはコチラ</p>
     
     
     <span><i class="fas fa-hand-point-down"></i><i class="fas fa-hand-point-down"></i><i class="fas fa-hand-point-down"></i><i class="fas fa-hand-point-down"></i></p>
     
  

   <div class="btn-block btn-group-vertical">
   <div class="btn btn-info mb-3">
       <%= link_to "Log in", user_session_path, class: 'nav-link text-white' %>
   </div>
   <div class="btn btn-success">
    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-white' %>
   </div>
  </div>
     </div>
    </div>
   </div>
</main>
