<main>
 <div class="cotainer mt-2">
  <div class="row">
   <div class="mx-auto">
   <div class="btn-block btn-group-vertical">
   <div class="btn btn-info mb-3">
       <%= link_to "Log in", user_session_path, class: 'nav-link text-white' %>
   </div>
   <div class="btn btn-success">
    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-white' %>
   </div>
  </div>
     </div>
    </div>
   </div>
</main>
