// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  width: 100%; 
  height: 100px;
  background-image: url(img/01.jpg); 
}